{% extends "menu.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фудкорд</title>
</head>
<body>
{%block menu%}
{{block.super}}
{%endblock%}

{%block content%}
    <h1 class="text-white fw-bold text-center" style="font-size: 70px">{{title_page.0}}</h1>
<div>
    <img src="https://sibprod.info/upload/iblock/4c0/4c0c3e944cdcda66a62cb0dd4fcf5069.jpg"
    class="img-fluid border border-dark rounded-4" alt="фото">
</div>
{%endblock%}

{%block conclusion%}
{{block.super}}
{%endblock%}

</body>
</html>