{% extends "menu.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
{%block menu%}
{{block.super}}
{%endblock%}

{%block content%}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="media/img/main_page/Mult.jpg" alt="кадр 1"  class="d-block mx-auto border border-5 border-white rounded-4" style="width: 1000px; height=550px">
            <div class="carousel-caption d-none d-md-block">
            <h1 class="text-white fw-bold" style="font-size: 70px">МУЛЬТФИЛЬМЫ</h1>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="media/img/main_page/audience.jpg" alt="кадр 2" class="d-block mx-auto border border-5 border-white rounded-4" style="width:1000px; height:600px">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="media/img/main_page/historical.jpeg" alt="кадр 3" class="d-block mx-auto border border-5 border-white rounded-4" style="width:1000px; height:600px">
            <div class="carousel-caption d-none d-md-block">
            <h1 class="text-white fw-bold " style="font-size: 70px" >ИСТОРИЧЕСКИЕ БОЕВИКИ</h1>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="media/img/main_page/audience1.jpeg" alt="кадр 4" class="d-block mx-auto border border-5 border-white rounded-4" style="width:1000px; height:600px">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="media/img/main_page/military.jpg" alt="кадр 6" class="d-block mx-auto border border-5 border-white rounded-4" style="width:1000px; height:600px">
            <div class="carousel-caption d-none d-md-block">
            <h1 class="text-white fw-bold" style="font-size: 70px">ВОЕННЫЕ</h1>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="media/img/main_page/audience2.jpeg" alt="кадр 7" class="d-block mx-auto border border-5 border-white rounded-4" style="width:1000px; height:600px">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="media/img/main_page/disasters.jpg" alt="кадр 8" class="d-block mx-auto border border-5 border-white rounded-4" style="width:1000px; height:600px">
        </div>
        </div>
    </div>
{%endblock%}

{%block conclusion%}
{{block.super}}
{%endblock%}

</body>
</html>